nav {
    padding: 10px 10%;
    text-align: center;
}
nav div {
    display: inline-block;
    margin-right: 100px;
}
nav a {
    text-decoration: none;
}
nav ul {
    list-style-type: none;
}
nav ul li {
    display: inline;
    margin: 0 70px;
}

#addCandidate {
    padding: 10px 25%;
}

#results {
    padding: 10px 25%;
}

#home {
    padding: 10px 25%;
}
